:root{
    font-size: 20px;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    margin:0;
    font-family: 'DM Sans';
}

nav, main, footer, section{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration:none;
    color:inherit;
}

h1, h2, h3{
    font-family: 'Bree Serif';
    font-style: normal;
    font-weight: 400;
    margin:0;
}

h1{
    font-size: 3rem;
    line-height: 4rem;
    color: #02073E;
}

h2{
    font-size: 2rem;
    line-height: 3rem;
    color:#0F2137
}

h3{
    font-size: 1.5rem;
    line-height: 2.5rem;
    color:#0F2137;
}

.logo::after{
    display:inline;
    content: "StartupLanding";
    font-family: 'SF Pro Display';
    color: #02073E;
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 700;
    margin-left:14px;
    vertical-align: 50%;
}

.grey-background{
    background-color: #F9FAFC;
}


ul.checked-list{
    list-style:none;
    padding:0;
    margin:0;
    grid-column: 1/5;
}

ul.checked-list li{
    font-size:0.8rem;
    line-height:2.25rem;
    color:#02073E;
    font-weight:500;
}

ul.checked-list li:not(:last-child) {
    margin-bottom: 10px;
}

ul.checked-list li::before{
    content:'';
    width: 20px;
    height:20px;
    margin-right:14px;
    display:inline-block;
    background-size: 20px 20px;
    vertical-align: -10%;
    background-image: url(images/icons/tick-icon.png);
}

a.explore-details{
    grid-column: 1/5;
    text-decoration:none;
    color:#3183FF;
    font-size:0.8rem;
    line-height: 2.1rem;
    font-weight:500;
}

a.explore-details::after{
    content:'';
    width: 6px;
    height:10px;
    margin-left:10px;
    display:inline-block;
    background-size: 6px 10px;
    background-image: url(images/icons/arrow-icon.png);
}

/* ---------------------------------------
                 Navbar
------------------------------------------ */

.navbar{
    width:1200px;
    padding:10px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.nav-links ul{
    display:flex;
    justify-content:center;
    align-items:center;
    list-style:none;
    gap:46px;
}

.nav-links ul li a{
    text-decoration:none;
    color:#183656;
    font-weight:700;
    font-size:0.8rem;
    line-height:1.65rem;
}

.nav-links ul li:last-child a{
    color: #F94962;
    vertical-align: -12px;
}

.nav-links ul li:last-child a:after{
    content: "";
    display: block;
    height:12px;
    background-size: 100% auto;
    background-image: url(images/navlink-underline.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}

/* ---------------------------------------
Main Sections
------------------------------------------ */

/* Section with illustration */

.section-with-illustration{
    padding:40px 0;
    width:1200px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:105px;
    margin:100px 0;
}

.section-with-illustration img{
    width:100%;
    height:auto;
}

.section-with-illustration img#illustration1,
.section-with-illustration img#illustration3{
    grid-column:2/3;
}

.section-with-illustration img#illustration2{
    grid-column:1/2;
}

.section-content{
    display:grid;
    gap:20px;
    grid-template-columns: repeat(4, 1fr);
}

.section-content#section-with-illustration2{
    grid-column:2/3;
}

.section-content#section-with-illustration1,
.section-content#section-with-illustration3{
    grid-column:1/2;
}

.section-content#section-with-illustration3{
    grid-template-rows: 1fr auto auto auto 1fr;
}

.section-content h1,
.section-content h2,
.section-content h3{
    grid-column: 1/5;
}

.section-content p{
    grid-column: 1/5;
    font-size:0.9rem;
    line-height:2.1rem;
    color:#02073E;
}

.section-content input{
    grid-column: 1/4;
    padding:10px 10px 10px 24px;
    border:1px solid #E5E5E5;
    border-radius: 5px;
    font-family: 'DM Sans';
    font-size:0.9rem;
    line-height:2rem;
}

.section-content input::placeholder{
    color:#566272;
}

.section-content button{
    grid-column: 4/5;
    padding:10px 26px;
    background-color: #F94962;
    color:#FFFFFF;
    border:none;
    font-size:1rem;
    font-weight:700;
    font-family: 'DM Sans';
    border-radius: 5px;
}

.section-content p#sponsors{
    grid-column:1/2;
    font-size:0.8rem;
    color:#566272;
    transform:translateY(-8px);
}

.section-content .logos-wrapper{
    grid-column:2/5;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
}

.section-content .logos-wrapper img#paypal{
    grid-column: 1/2;
}

.section-content .logos-wrapper img#google{
    grid-column: 2/3;
}

.section-content .logos-wrapper img#dropbox{
    grid-column: 3/4;
}

img#line-between-sections{
    transform:translateY(-50%);
    width:600px;
    height:auto;
    position:absolute;
}

/* Sections with centered text */

.section-with-illustration + .section-centered{
    margin-top:0;
}

.section-centered{
    width:1200px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:60px;
    margin:100px 0;
    justify-items: center;
}

.section-centered img{
    grid-column: 1/4;
    width:90%;
    height:auto;
}

.section-centered-header{
    grid-column: 1/4;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.section-centered-title{
    width:683px;
    text-align:center;
}

h3.section-centered-title{
    margin-bottom: 10px
}

h2.section-centered-title{
    margin-bottom: 25px
}

.section-centered-description{
    width:583px;
    text-align:center;
    font-size:0.8rem;
    line-height:1.75rem;
    color:#0F2137;
}

.section-centered-card{
    display:grid;
    column-gap:20px;
    grid-template-columns: 15% 85%;
}

.section-centered-card-icon{
    grid-column:1/2;
    text-align:right;
    font-size:2.4rem;
    line-height: 2.5rem;
    color:#0F2137;
}

.section-centered-card-header{
    grid-column:2/3;
}

.section-centered-card-title{
    font-size:0.9rem;
    line-height: 1.15rem;
    font-weight:500;
    margin-bottom:10px;
    color:#0F2137;
}

.section-centered-card-description{
    text-align: left;
    font-size:0.8rem;
    line-height: 1.75rem;
    color:#343D48;
}

.contact-us-banner{
    width:1300px;
    height: 200px;
    background-color: #183656;
    display:grid;
    grid-template-columns: 45% 25% 30%;
    gap:20px;
    padding: 45px 70px;
    position:absolute;
    transform: translateY(-50%);
    border-radius: 20px;
    justify-items: center;
    align-items: center;
}

.contact-us-banner h2{
    grid-column:1/2;
    font-size:1.8rem;
    line-height: 2.75rem;
    color:#FFFFFF;
}

.contact-us-banner img{
    grid-column:2/3;
    width:80%;
    height:auto;
}

.contact-us-banner button{
    font-family: 'DM Sans';
    grid-column:3/4;
    padding:10px 26px;
    background-color: #fff;
    color:#183656;
    border:none;
    font-size:0.85rem;
    font-weight:700;
    border-radius: 5px;
    height: 60px;
    text-transform:uppercase;
    letter-spacing: 0.1em;
    vertical-align: 30px;
}

.contact-us-banner button::after,
.contact-us-banner button::before{
    content: '';
    display: block;
    background-image: url(images/rays.png);
    background-repeat: no-repeat;
    background-size: 90px 30px;
    position:absolute;
    height:30px;
    width:90px;
}

.contact-us-banner button::before {
    transform: translate(50px,-60px);
}

.contact-us-banner button::after{
    transform: translate(50px, 30px) rotate(180deg);
}

/* ---------------------------------------
                 Footer
------------------------------------------ */

.footer{
    width:1200px;
    padding:10px;
    margin:120px 0 40px 0;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 40px;
}

.footer .footer-column{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    flex-direction:column;
}

.footer #footer-logo{
    grid-column:1/2;
    justify-content: flex-start;
}

.footer #footer-about-us{
    grid-column:2/3;
}

.footer #footer-our-information{
    grid-column:3/4;
}

.footer #footer-my-account{
    grid-column:4/5;
}

.footer #footer-connect{
    grid-column:5/6;
}

.footer-column-title{
    color:#0F2137;
    font-size:0.9rem;
    line-height: 1.5rem;
    grid-row:1/2;
    margin:0;
}

.footer-column{
    grid-row:2/3;
}

.footer-column ul{
    list-style:none;
    font-size:0.75rem;
    line-height: 1.75rem;
    padding:0;
}

.footer-li-with-logo::before{
    content:'';
    width: 20px;
    height:20px;
    margin-right:14px;
    display:inline-block;
    background-size: 20px 20px;
    vertical-align: -10%;
}

#footer-fb::before{
    background-image:url(images/logos/fb-logo.png);
}

#footer-twitter::before{
    background-image:url(images/logos/twitter-logo.png);
}

#footer-git::before{
    background-image:url(images/logos/git-logo.png);
}

#footer-dribbble::before{
    background-image:url(images/logos/dribble-logo.png);
}

